.side-nav {
    width: 350px;
    /*background-image: linear-gradient(*/
    /*		rgba(0, 0, 0, 0.6),*/
    /*		rgba(0, 0, 0, 0.8)*/
    /*	),*/
    /*	url("../../img/sidenav4.jpg");*/
    background-color: #E0E7FF;
    /*background-color: #e5effd;*/
    /*background: linear-gradient(*/
    /*        to right bottom,*/
    /*        rgba(255, 255, 255, 0.7),*/
    /*        rgba(255, 255, 255, 0.3));*/
    /*background: linear-gradient(to right top,#DBEAFE, #EFF6FF );*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    box-shadow: rgba(100, 100, 100, 0.25) 0 2px 4px 1px;
}
/*main {*/
/*    background: linear-gradient(to right top, #1693ff, #7cc2ff)*/
/*}*/
.link-sidenav{
    text-decoration: none;
}
.link-sidenav:hover,
.link-sidenav:focus {
    color: #fbf3f0 !important;
}

.link-myClass {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 500;
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-myClass:hover,
.link-myClass:focus {
    /*color: #535c68 !important;*/
    color: #757575 !important;
    /*background-color: #f7e8e3;*/

    background: linear-gradient(
            to right bottom,
            rgba(221, 221, 221, 0.4),
            rgba(221, 221, 221, 0.2));

    text-shadow: none;
}

.link-myClass-active{
    color: #1a1a1a !important;
    background-color: #ffffff;
    /*background: linear-gradient(*/
    /*        to right bottom,*/
    /*        rgba(255, 255, 255, 1),*/
    /*        rgba(255, 255, 255, 1));*/
    font-weight: 700 !important;
    border-left: 5px solid #0067C0;
    padding-left: 11px !important;
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
}