/* animatiopn */

.fade-enter .my-card {
    opacity: 0;
    transform: translateX(100%);
}
.fade-enter-active .my-card {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit .my-card {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active .my-card {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active .my-card,
.fade-exit-active .my-card {
    transition: opacity 300ms, transform 500ms;
}
.flex-grow-1{
    padding: 10px !important;
}


.show-button{ background: #FF5722;
    border-color: #FF5722 !important;
    font-size: calc(12px + 1vmin);
    letter-spacing: 2px;
}
.show-button:hover,
.show-button:active,
.show-button:visited,
.show-button:focus{
    background: #FF5722;
    border-color: #FF5722 !important;
    font-size: calc(12px + 1vmin);
    letter-spacing: 2px;
}
.next-button{ background: #4CAF50;
    border-color: #4CAF50 !important;
    font-size: calc(12px + 1vmin);
    letter-spacing: 2px;
}
.next-button:hover,
.next-button:active,
.next-button:visited,
.next-button:focus{
    background: #429745;
    border-color: #429745 !important;
    font-size: calc(12px + 1vmin);
    letter-spacing: 2px;
}

@media (max-width: 960px) {
    .study-sidebar {
        display: none;
    }

}
.react-card-flip {
    height: 100%;
}