body {
	margin: 0;
	color: #757575;
	font-family: Roboto, serif;
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	height: 100%;
	overflow: auto !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav-link {
	margin-right: 2em;
}

main {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	/*height: -webkit-fill-available;*/
	max-height: 100vh;
	overflow-x: auto;
	/*overflow-y: hidden;*/
}

.b-example-divider {
	flex-shrink: 0;
	width: 1rem;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
		inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.user-pack {
	min-height: 2em;
	margin-top: 32px;
}
.pack-icon {
	min-height: 2em;
}

.link-pack {
	/*color: #4b4b4b !important;*/
	color: #ccc !important;
	min-height: 2em;
	margin-left: 5px;
	text-decoration: none;
}


main {
	background-color: #f6f3f0;
}
.side-nav {
	width: 350px;
	 background: #56504f;
	 /*background: #5d4037;*/
	/*background-image: linear-gradient(*/
	/*		rgba(0, 0, 0, 0.6),*/
	/*		rgba(0, 0, 0, 0.8)*/
	/*	),*/
	/*	url("./img/sidenav4.jpg");*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.link-myClass {
	/*color: #4b4b4b !important;*/
	/*color: #95afc0 !important;*/
	color: #CCCCCC !important;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
	margin-top: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.link-myClass:hover,
.link-myClass:focus {
	/*color: #535c68 !important;*/
	color: #fbf3f0 !important;
	/*background-color: #f7e8e3;*/
	border-left: 5px solid #fbf3f0;
	padding-left: 11px !important;
	text-shadow: none;
}

.link-myClass-active{
	color: #757575 !important;
	background-color: #fbf3f0;
	border-left: 5px solid #FF5722;
	padding-left: 11px !important;
	/*text-shadow: 1px 0 1px #CCCCCC;*/
	margin-top: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.link-sidenav{
	color: #CCCCCC;
	text-decoration: none;
}
.link-sidenav:hover,
.link-sidenav:focus {
	color: #fbf3f0 !important;
}
.link-icon {
	color: #BDBDBD !important;
	font-size: 1.5em !important;
}

.link-icon:hover,
.link-icon:active {
	color: #4b4b4b !important;
}
.modal-80w {
	min-width: 80vw;

}
.modal-70w {
	min-width: 60vw;
}

.card-left-border {
	border: 1px solid #ced4da !important;
}
.card-right-border {
	border-top: 1px solid #ced4da !important;
	border-right: 1px solid #ced4da !important;
	border-bottom: 1px solid #ced4da !important;
}
#deck-content .modal-content {
	height: 80vh !important;
	margin: auto;
	top: 8vh;
	/*padding: 30px !important;*/
}
.modal-backdrop-card {
	z-index: 1400;
}
#card-content .modal-content {
	height: 60vh !important;
	top: 20vh;
	/*padding: 30px !important;*/
}
.navbar {
	/*background-color: #242a30 !important;*/
	/*background-color: #44403f !important;*/

}

.dropdown-toggle:after {
	border: 0;
}
#dropdown-basic:focus,
#dropdown-basic:active {
	outline: none !important;
	box-shadow: none;
}
a.dropdown-item:hover {
	background-color: #f0ebe5 !important;
}

a.dropdown-item:active {
	/*background-color: #63a5a2 !important;*/
	color: #757575;
}

.btn-outline-secondary {
	background-color: #FF5722;
	border-color: #FF5722;
	color: #fff;
}
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:hover {
	background-color: #E64A19;
	border-color: #E64A19;
	outline: none !important;
	box-shadow: none !important;

}
.form-control:focus {
	border-color: #BDBDBD;
	/*border-color: #FF5722;*/
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 150, 136, 0.6);*/
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(99, 165, 162);*/
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgb(208, 110, 79);*/
	/*border-bottom: 2px solid #FF5722;*/
	border-bottom-color: #FF5722;
	box-shadow: none;
}
.button#dropdown-basic{
	background-color:#fbf3f0 !important;
}

.sideNav-divider {
	background-color: transparent !important;
}
.sideNav-divider:before,
.sideNav-divider:after {
	content: "";
	display: block;
	height: 1px;
	left: 1%;
	margin: 0  0 -420px;
	position: absolute;
	width: 320px;
}

.sideNav-divider:before {
	background: #646464;
	background: linear-gradient(left, #151515, #646464, #151515);
	top: 130px;
}

.sideNav-divider:after {
	background: #8e8e8e;
	background: linear-gradient(left, #151515, #8e8e8e, #151515);
	top: 131px;
}

a{
	color: #63a5a2;
}
a:hover,
a:focus {
	color: #00BCD4;
}
.btn-primary{ background: #FF5722;
	border-color: #FF5722 !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
	background: #E64A19;
	border-color: #E64A19 !important;
}
.btn-close{
	outline: none !important;
	box-shadow: none;
}

.btn-close:hover,
.btn-close:active,
.btn-close:focus,
.btn-close:visited {
	outline: none !important;
	box-shadow: none;
}
.modal-backdrop.show {
	background-color: #56504f;
	opacity: 0.75;
}
.deck-card {
	border-bottom: 1px solid #e3e3e3 !important;
}
.add-deck-link:hover,
.add-deck-link:active{
	color: #E64A19 !important;
}

div.relative {
	position: relative;
	width: 400px;
	height: 200px;
	border: 3px solid #73AD21;
}

div.absolute {
	position: absolute;
	top: 100px;
	left: 0;
	width: 400px;
	height: 100px;
	border: 3px solid #73AD21;
}
div.absolute2 {

	display: block;
	position: absolute;
	top: 45%;
	left: 95%;
}

.section-bg {
	background: #f5f8fd;
}

.section-header h2 {
	font-size: 36px;
	color: #413e66;
	text-align: center;
	font-weight: 700;
	position: relative;
	font-family: "Montserrat", sans-serif;
}
